@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


$text-color = #FFF
$nav-bg = #333
$primary = #156e93

$body-bg = #FFF

html, .section, .input
  background: $body-bg

  .control.has-icon > .fa {
    z-index: 1;
  }

  #home
    @media(min-width: 1024px)
      max-width: 414px
      margin: 0 auto

  .nav, .nav-menu
    background-color: $nav-bg

    .nav-menu > .nav-item
      display: block
      text-align: left
      padding: 15px 30px !important
      &:hover
        background: lighten($nav-bg, 6%)

    a.nav-item
      color: $text-color

    .nav-item
      border: none

    .nav-toggle > span
      background-color: $text-color

    .nav-toggle:hover
      background-color: lighten($nav-bg, 6%)

  .table > thead > tr > th
    color: #333
    border-top: 2px solid $primary

  .message
    position: absolute
    width: 100vw
    top: -15px
    left: calc(-50vw + 50%)

  .message-body
    border: none;
    border-bottom: 1px solid #23d160

  .fade-element-in.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
  }

  .fade-element-in-init .fade-element-in.ng-enter {
    opacity: 1;
  }

  .fade-element-in.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .fade-element-in.ng-leave {
    transition: 0.4s linear all;
    opacity: 1;
  }
  .fade-element-in.ng-leave.ng-leave-active {
    opacity: 0;
  }


@require 'components/buttons';
@require 'components/forms';

@require 'pages/landing';
@require 'pages/games';
@require 'pages/view-players';

