<div class="outer-wrap">
	<div class="index_nav">
		<div class="content-wrap">
			<ul>
			  <li class="nav_link" >
				<a ui-sref="index">Home</a>
				</li>
			  <li class="nav_link">
				<a ui-sref="dashboard">Dashboard</a>
				</li>
			  <li class="nav_link" style="float: right">
				<a ui-sref="index" class="btn-link"><button class="sec-btn" type="button">Sign Up</button></a>
				</li>
			  <li class="nav_link" style="float: right">
				<a ui-sref="dashboard" class="btn-link"><button class="pri-btn" type="button">Log In</button></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content-wrap">
		<h1>Game Log</h1>
		<h2>Nothin' but the landing page here. Only link should be to login or register</h2>
	</div>
</div>
