@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
html,
.section,
.input {
  background: #fff;
}
html .control.has-icon > .fa,
.section .control.has-icon > .fa,
.input .control.has-icon > .fa {
  z-index: 1;
}
@media (min-width: 1024px) {
  html #home,
  .section #home,
  .input #home {
    max-width: 414px;
    margin: 0 auto;
  }
}
html .nav,
.section .nav,
.input .nav,
html .nav-menu,
.section .nav-menu,
.input .nav-menu {
  background-color: #333;
}
html .nav .nav-menu > .nav-item,
.section .nav .nav-menu > .nav-item,
.input .nav .nav-menu > .nav-item,
html .nav-menu .nav-menu > .nav-item,
.section .nav-menu .nav-menu > .nav-item,
.input .nav-menu .nav-menu > .nav-item {
  display: block;
  text-align: left;
  padding: 15px 30px !important;
}
html .nav .nav-menu > .nav-item:hover,
.section .nav .nav-menu > .nav-item:hover,
.input .nav .nav-menu > .nav-item:hover,
html .nav-menu .nav-menu > .nav-item:hover,
.section .nav-menu .nav-menu > .nav-item:hover,
.input .nav-menu .nav-menu > .nav-item:hover {
  background: #3f3f3f;
}
html .nav a.nav-item,
.section .nav a.nav-item,
.input .nav a.nav-item,
html .nav-menu a.nav-item,
.section .nav-menu a.nav-item,
.input .nav-menu a.nav-item {
  color: #fff;
}
html .nav .nav-item,
.section .nav .nav-item,
.input .nav .nav-item,
html .nav-menu .nav-item,
.section .nav-menu .nav-item,
.input .nav-menu .nav-item {
  border: none;
}
html .nav .nav-toggle > span,
.section .nav .nav-toggle > span,
.input .nav .nav-toggle > span,
html .nav-menu .nav-toggle > span,
.section .nav-menu .nav-toggle > span,
.input .nav-menu .nav-toggle > span {
  background-color: #fff;
}
html .nav .nav-toggle:hover,
.section .nav .nav-toggle:hover,
.input .nav .nav-toggle:hover,
html .nav-menu .nav-toggle:hover,
.section .nav-menu .nav-toggle:hover,
.input .nav-menu .nav-toggle:hover {
  background-color: #3f3f3f;
}
html .table > thead > tr > th,
.section .table > thead > tr > th,
.input .table > thead > tr > th {
  color: #333;
  border-top: 2px solid #156e93;
}
html .message,
.section .message,
.input .message {
  position: absolute;
  width: 100vw;
  top: -15px;
  left: calc(-50vw + 50%);
}
html .message-body,
.section .message-body,
.input .message-body {
  border: none;
  border-bottom: 1px solid #23d160;
}
html .fade-element-in.ng-enter,
.section .fade-element-in.ng-enter,
.input .fade-element-in.ng-enter {
  transition: 0.4s linear all;
  opacity: 0;
}
html .fade-element-in-init .fade-element-in.ng-enter,
.section .fade-element-in-init .fade-element-in.ng-enter,
.input .fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}
html .fade-element-in.ng-enter.ng-enter-active,
.section .fade-element-in.ng-enter.ng-enter-active,
.input .fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}
html .fade-element-in.ng-leave,
.section .fade-element-in.ng-leave,
.input .fade-element-in.ng-leave {
  transition: 0.4s linear all;
  opacity: 1;
}
html .fade-element-in.ng-leave.ng-leave-active,
.section .fade-element-in.ng-leave.ng-leave-active,
.input .fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}
.game-tag {
  margin: 5px;
}
.small-input {
  max-width: 414px !important;
}
#landing .card {
  margin: 0 auto;
  min-height: 320px;
}
#landing .card ul li {
  background: #f0f0f0;
}
#landing .card .title,
#landing .card .subtitle {
  color: #555;
}
#landing .tabs a {
  color: #000;
}
#landing .tabs a:hover {
  color: #000;
}
#landing .google-btn {
  margin-top: 10px;
  background: #dd4b39;
  color: #fff;
}
#landing .google-btn .icon {
  margin-right: 20px;
}
#landing .is-active {
  background: #fff;
}
.game-tag-container {
  margin-top: 20px;
}
.game-tag-container .button {
  border-radius: 2px;
}
.view-profile {
  display: inline-block;
}
.back-arrow {
  display: block;
}
.player-name {
  font-style: italic;
  display: block;
}
.player-details {
  font-style: italic;
  display: block;
  margin-bottom: 15px;
}
.player-tag-style {
  display: inline-block;
  border-left: 3px solid #ddd;
  padding-left: 5px;
  font-style: italic;
}
.player-row {
  border-top: 1px solid #cecece;
}
