<div class="container">
  <h1 class="title">View Players</h1>

  <a class="button is-primary" ng-click="playerToggle()">
    <span ng-if="playerFilter">View All Players</span>
    <span ng-if="!playerFilter">View Today's Players</span>
  </a>

  <p class="control has-icon" style="margin-top: 15px">
    <input class="input small-input" placeholder="Search by Name" ng-model="search.name">
    <i class="fa fa-search"></i>
  </p>

  <p class="control has-icon" style="margin-top: 15px">
    <input class="input small-input" placeholder="Search by Tag" ng-model="search.tag">
    <i class="fa fa-search"></i>
  </p>
  <br>

  <span ng-if="playerFilter && !players.today[0]">There are no players logged yet for today.</span>

  <div ng-if="playerFilter" class="columns is-mobile is-paddingless"
       ng-repeat="player in players.today | filter: {name: search.name, tag: search.tag}" style="border: 1px solid #d0d0d0;margin-top: 1px">
    <div class="player-row column is-12">
      <span class="player-name"><b>{{ player.name }}</b></span>

      <span class="player-tag-style">{{ player.tag }}</span>
      <span class="view-profile is-pulled-right">
        <a ui-sref="dashboard.players.profile({id: player._id, player: player})">View</a>
      </span>
    </div>
  </div>

  <div ng-if="!playerFilter" class="columns is-mobile is-paddingless"
       ng-repeat="player in players.all | filter: {name: search.name, tag: search.tag}" style="border: 1px solid #d0d0d0;margin-top: 1px">
    <div class="player-row column is-12">
      <span class="player-name"><b>{{ player.name }}</b></span>

      <span class="player-tag-style">{{ player.tag }}</span>
      <span class="view-profile is-pulled-right">
        <a ui-sref="dashboard.players.profile({id: player._id, player: player})">View</a>
      </span>
    </div>
  </div>


</div>

