#landing
  .card
    margin: 0 auto
    min-height: 314px
    ul li
      background: #F0F0F0

  .tabs a
    color: black
    &:hover
      color: black

  .google-btn
    margin-top: 10px
    background: #dd4b39
    color: white
    .icon
      margin-right: 20px

  .is-active
    background: white