.view-profile
  display: inline-block

.back-arrow
  display: block

.player-name
  font-style: italic
  display: block


.player-details
  font-style: italic
  display: block
  margin-bottom: 15px

.player-tag-style
  display: inline-block
  border-left: 3px solid #DDD
  padding-left: 5px
  font-style: italic

.player-row
  border-top: 1px solid #CECECE
